/* Place CSS styles here */
header{
    background-color: #bf00ff;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

body{
    list-style-position: inside;
    text-align: center;
    color:black;
    background-color:#e8cafa
}
